Repeater {
    background-color: #fff;
    color: #000;
    font-style: italic;
}
Repeater Label{
    text-align: center;
}
Repeater .categoriaActiva{
    color: #16a2b3;
    background-color: #16a2b3;
}
.footer {
    color: #000;
    background-color: #fff;
    font-size: 16;
    margin-left: 10;
}

.footer #totalPedidos{
    color: #fff;
    background-color: #f86a44;
    height: 35;
    margin: 10,10,10,10;
    padding-left: 10;
    padding-right: 10;
    padding-top: 5;
    text-align: center;
    vertical-align: center;
}
